# Imports:

In [1]:
import numpy as np
import pandas as pd
from scipy.stats import chi2, norm, cauchy, pareto

# Checks:

In [20]:
beta = 1
s_size = 50
p_size = 1_000
n_sims = 1_000

pop_x = pd.Series(norm.rvs(size = p_size))

In [21]:
pop_y = pd.Series(pop_x * beta + norm.rvs(size=p_size))

In [22]:
xy_sims = []
x2_sims = []
for i in range(n_sims):
    sample_y = pop_y.sample(s_size)
    sample_x = pop_x.sample(s_size)
    x2_mean = np.mean(sample_x ** 2)
    xy_mean = np.mean(sample_y * sample_x)
    
    x2_sims.append(x2_mean)
    xy_sims.append(xy_mean)

In [27]:
sim_df = pd.DataFrame([xy_sims, x2_sims]).T
sim_df.columns = ['xy', 'x2']

In [32]:
sim_df['1/x2'] = 1/sim_df['x2']
sim_df['Y2'] = sim_df['xy'] ** 2
sim_df['1/X2'] = sim_df['1/x2'] ** 2
sim_df['XY'] = sim_df['xy'] * sim_df['x2']
sim_df['X2'] = sim_df['x2'] ** 2

In [33]:
sim_df[['X2', '1/X2']].cov()

            X2      1/X2
X2    0.173250 -0.184233
1/X2 -0.184233  0.273500

In [34]:
sim_df[['XY', '1/X2']].cov()

            XY      1/X2
XY    1.674284 -0.193713
1/X2 -0.193713  0.273500

In [35]:
sim_df[['Y2', '1/X2']].cov()

             Y2      1/X2
Y2    32.906965 -0.467415
1/X2  -0.467415  0.273500